<div class="about-wrapper">
    <h1>About me:</h1>
    <div class="about-me">
        <img src="https://avatars.githubusercontent.com/u/55569386?v=4" alt="" class="profile-picture">
        <p>Junior Systems Analyst and currently in the 6th semester of Information Systems by UNISUL - Florianópolis,
            with different levels of skills and knowledge in:</p>
        <div class="knowledges-container">
            <app-knowledge name="C#" colors="#534A95, white" params="Asp.Net, MVC, WebApi, Nhibernate, Selenium"></app-knowledge>
            <app-knowledge name="JavaScript" colors="#715DA1, white" params="Angular, Node, Vue, JQuery, TypeScript"></app-knowledge>
            <app-knowledge name="HTML" colors="#534A95, white" params="CSS, SCSS, Bootstrap"></app-knowledge>
            <app-knowledge name="SQL" colors="#715DA1, white" params="SQL Server, MySQL, PostgreSQL, SQLite"></app-knowledge>
            <app-knowledge name="C++" colors="#534A95, white"params="Arduino"></app-knowledge>
            <app-knowledge name="And more" colors="#715DA1, white" params="Java, Python, PHP"></app-knowledge>
        </div>
    </div>
</div>