.about-wrapper{
    background-image: "site\\src\\assets\\images\\Dracula.png";
}

.knowledges-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

h1, p {
    text-align: center;
}