<div class="about-wrapper">
    <h1>About me:</h1>
    <div class="about-me">
        <img src="" alt="" class="profile-picture">
        <p>Junior System Analyst and currently in the 6th semester of Information Systems by UNISUL - Florianópolis,
            with different levels of skills and knowledge in:</p>
        <div class="knowledges-container">
            <app-knowledge name="C#" colors="#811991, white" params="Asp.Net, MVC, WebApi, Nhibernate, Selenium"></app-knowledge>
            <app-knowledge name="JavaScript" colors="#edd626, white" params="Angular, Node, Vue, JQuery, TypeScript"></app-knowledge>
            <app-knowledge name="HTML" colors="#795bd5, white" params="CSS, SCSS, Bootstrap"></app-knowledge>
            <app-knowledge name="SQL" colors="#3a5b68, white" params="SQL Server, MySQL, PostgreSQL, SQLite"></app-knowledge>
            <app-knowledge name="C++" colors="#0049aa, white"params="Arduino"></app-knowledge>
            <app-knowledge name="Basics" colors="#e12025, white" params="Java, Python, C++, PHP"></app-knowledge>
        </div>
    </div>
</div>