<div class="about-wrapper">
    <h1>About me:</h1>
    <div class="about-me">
        <img src="" alt="" class="profile-picture">
        <p>Junior System Analyst and currently in the 6th semester of Information Systems by UNISUL - Florianópolis,
            with different levels of skills and knowledge in:</p>
        <div class="knowledges-container">
            <app-knowledge name="C#" params="Asp.Net, Nhibernate, Selenium"></app-knowledge>
            <app-knowledge name="JavaScript" params="Angular, Vue, JQuery, TypeScript"></app-knowledge>
            <app-knowledge name="Java" params=""></app-knowledge>
            <app-knowledge name="Bootstrap" params=""></app-knowledge>
        </div>
        <div class="knowledges-container">
            <app-knowledge name="SQL" params="SQL Server, MySQL, PostgreSQL, SQLite"></app-knowledge>
            <app-knowledge name="C++" params="Arduino"></app-knowledge>
            <app-knowledge name="HTML" params=""></app-knowledge>
            <app-knowledge name="CSS" params="SCSS"></app-knowledge>
        </div>

    </div>
</div>