body,html{
	min-width: 530px;
	margin: 0;
	font: 16px verdana,sans-serif;
	color: #777;
	height: 100%;
}
.conteudo{
	font-size: 1.5rem;
}

.conteudo{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.9);
	background-repeat: no-repeat;
	text-align: center;
	padding: 20px 80px;
}

h3{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

/* parallax */
.caixa1, .caixa2, .caixa3, .caixa4{
	position: relative;
	height: 100%; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
}

.caixa1{
	background-image: url(images/imagem1.jpg);
}

.caixa2{
	background-image: url(images/imagem3.jpg) ;
}

p{
	margin-bottom: 20px;
}

a:hover{
	background-color: white;
	color: #191970;
}

.conteudo-titulo{
	position: absolute;
	left: 0%;
	top: 45%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.conteudo-titulo span.titulo{
	padding: 18px;
	margin: 10px;
	font-size: 3.5rem;
	-webkit-text-stroke: 1px black;
	letter-spacing: 5px;
	border: 1px outset black;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
}

.conteudo-titulo span.titulo:hover{
    transition: background-color 0.2s;
    transition: font-size 0.2s;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.3);
}

.contatos{
    display: flex;
    justify-content: center;
}

.conteudo ul {
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    width: 25rem;
    overflow: hidden;
    background-color: rgba(0, 0, 10, 0.05);

}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.1rem;
    text-decoration: none;
}
