.app-wrapper{
    background-image: url("/assets/images/Dracula.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}