<div class="projects-wrapper">
    <app-project title="Remote control Drum kit"
        description="Using the Arduino Uno board, an infrared receptor and a generic TV remote, i programmed some simple commands so when a certain key is pressed
        the servo will move accordingly to my code."></app-project>
    <app-project title="Lança chamas com controle remoto (em desenvolvimento)"
        description="Utilizando a placa Arduino, um Servo-motor, pedaços de madeira e uma lata de desodorante, montei um robô para
    'cuspir' fogo quando um botão for pressionado em um controle remoto. Ainda está em desenvolvimento, proximo passo será adicionar ignição eletrônica"></app-project>
    <app-project title="Robô para apagar luz sempre que ela é acesa" description="Utilizando a placa Arduino uno, um sensor de luminosidade LDR e um Servo-motor, programei a placa para que quando a luz
    estivesse acesa, o Servo-motor a desligaria, com a mesma ideia da The Useless Box."></app-project>
    <app-project title="Despertador com laser"
        description="Utilizando a placa Arduino, um sensor de luminosidade LDR e um laser de um brinquedo antigo, criei um programa simples para
    criar um despertador que emite um toque e pisca uma luz, que só interrompe o ciclo quando o laser ilumina o sensor."></app-project>
</div>