<div class="projects-wrapper">
    <app-project title="Remote control Drum kit"
        description="Using the Arduino Uno board, an infrared receptor and a generic TV remote, i programmed some simple commands so when a certain key is pressed
        the servo will move accordingly to my code."></app-project>
    <app-project title="Remote control Flamethrower (under development)"
        description="Using a Arduino Uno, a Servo, some pieces of wood and a deodorant flask, i built a 'robot' that would throw flames every time i pressed the middle buttton of the remote control. 
        The first protype ignited the flames by using a candle (Extremely dangerous!), the version 2.0 will use some sort of electronic ignition and hopefully it will also be controlled via wifi."></app-project>
    <app-project title="Robot that turns off the light when it is turned on" description=" With the concept of The Useless Box in mind, using a LDR sensor and a servo i created this robot to turn off the lights 
    by flipping the switch off every time it was turned on."></app-project>
    <app-project title="Despertador com laser"
        description="Utilizando a placa Arduino, um sensor de luminosidade LDR e um laser de um brinquedo antigo, criei um programa simples para
    criar um despertador que emite um toque e pisca uma luz, que só interrompe o ciclo quando o laser ilumina o sensor."></app-project>
</div>