.header-wrapper{
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;   
    justify-content: center; 
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    width: 4rem;
    padding: 0 1rem;
}


.nav-item:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}